/* Heart icon*/

.contour {
  fill: var(--accent-color, #000);
  transition: fill .1s linear;
}

.main-body {
  fill: var(--color-none-body-heart);
  transition: fill .3s linear;
}

.core {
  fill: var(--color-none-body-heart);
  transition: fill .3s linear .03s;
}

.sparks {
  fill: var(--color-body-heart);
  opacity: 0;
}

@keyframes heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*  Menu marker */

@keyframes marker {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(4px);
  }
}